{% extends '::base.html.twig' %}


{% block body %}

  <h1>Home</h1>
    <div "last-moyennes">
        {% if exams_moyennes is empty %}
            Aucun moyenne pour l'instant.
        {% else %}
            <table class="table table-hover table-bordered" style=";background-color:white;">    
                <thead style="background-color:#49afcd">
                    <tr>
                        <th> Moyenne </th>
                        <th> Examen </th>
                        {#  Disabled for now
                        <th> Promo  </th>
                        <th> Prof </th>#} 
                    </tr>
                </thead>
            {% for libelle_exam,moyenne in exams_moyennes %}
                    <tr>
                        <th> {{ moyenne }} </th>
                        <th> {{ libelle_exam }} </th>
                    </tr>
            {% endfor %}
        {% endif %}
        
    </div>
{% endblock %}