{% extends "::base.html.twig" %}


 
{% block body %}
<h1>Inscription</h1>
<p>Bienvenu dans l'espace d'inscription</p>

{% if error != '' %}
  <div class="alert alert-error">
	<p data-dismiss="alert">ERROR : {{ error }}</p>
  </div>
{% endif %}
{% if success != '' %}
  <div class="alert alert-success">
	<p data-dismiss="alert">{{ success }}</p>
  </div>
{% endif %}
<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Déposer" />
</form>
{% endblock %}